@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
  margin: 0;
  font-family: 'Poppins';
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .logo {
  color: #f1b24a;
  font-weight: bold;
  margin-top: 7px;
  margin-left: 50px;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 999;
  margin-top: -50px;
  margin-left: 620px;
  font-size: 14px;
  color: #6B9584;
}

.navbar li {
  margin: 60px;
}

.navbar li a {
  color: #6B9584;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.hero .hero-img {
  width: 900px;
  margin-top: -450px;
}

.hero .left-col {
  margin-left: 60px;
  padding-top: 90px;
  padding-left: 40px;
}

.hero .left-col h1 {
  font-size: 3em;
  z-index: 999;
  width: 700px;
  color: #164A41;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  word-spacing: 0.1em;
  position: absolute;
}

.hero .left-col p {
  color: #6B9584;
  margin-top: 200px;
  font-size: 1.2em;
}

.hero .left-col .primary-cta {
  margin-top: 3000px;
  background: #F1B24A;
  color: white;
  padding: .6em 1.3em;
  font-size: 1.3em;
  border-radius: 5em;
  font-weight: bold;
  overflow: hidden;
  position: relative;
  top: 50px;
}

.description-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #f1b24a;
  border-radius: 6em;
  width: 1000px;
  height: 400px;
  margin: 0 auto;
  margin-top: -80px;
  position: relative;
}

.description-section .antrenor {
  width: 270px;
  padding-right: 70px;
}

.description-section .left-description {
  color: white;
  padding-left: 40px;
  padding-top: 35px;
}

.description-section .description {
  width: 400px;
  font-size: 1.1em;
}

.description-section h2 {
  font-size: 1.6em;
}

.description-section .name {
  opacity: 0.7;
  margin-top: -20px;
}

.motivation {
  background: #EEF0EF;
  margin-top: -150px;
  padding-top: 200px;
}

.motivation .motivation-text {
  text-align: center;
}

.motivation .motivation-text h3 {
  font-size: 3em;
  text-transform: uppercase;
  color: #164A41;
}

.motivation .motivation-text p {
  color: #6B9584;
  width: 1000px;
  margin: 0 auto;
  font-size: 1.15em;
  margin-top: -20px;
}

.motivation .calitati ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 100px;
}

.motivation .calitati ul li {
  background: #f1b24a;
  width: 350px;
  height: 400px;
}

.motivation .calitati ul li img {
  width: 60px;
  padding-top: 50px;
  padding-left: 140px;
}

.motivation .calitati ul li .quality {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  text-align: center;
  width: 250px;
  padding-left: 45px;
}

.motivation .calitati ul li .quality-description {
  color: white;
  text-align: center;
  font-size: .95em;
  padding: .5em 1.5em;
}

.online-app {
  background-color: #6B9584;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -100px;
  padding-top: 200px;
  padding-left: 100px;
  color: white;
  padding-bottom: 65px;
}

.online-app .online-img img {
  width: 500px;
  padding-top: 120px;
  padding-left: 60px;
}

.online-app h4 {
  text-transform: uppercase;
  font-size: 2em;
  width: 600px;
}

.online-app .app-description {
  width: 600px;
  font-size: 1em;
  margin-top: -30px;
}

.online-app h5 {
  font-size: 1.6em;
  font-style: italic;
}

.online-app .features-list {
  font-size: 1.1em;
  margin-top: -15px;
}

.online-app .features-list img {
  width: 20px;
  margin-left: -55px;
  margin-bottom: -4px;
}

.online-app .features-list li {
  padding: 15px;
}

.client h5 {
  font-size: 2em;
  color: #164A41;
  text-align: center;
  padding-top: 40px;
}

.client ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 60px;
}

.client li {
  background: #f1b24a;
  width: 320px;
  height: 200px;
  margin: 0 auto 5em auto;
  padding: 1.5em 1em;
  text-align: center;
}

.client li img {
  width: 5em;
  height: 5em;
  margin-top: -4em;
}

.client li blockquote {
  color: white;
  font-size: .9em;
}

.client li cite {
  color: #164A41;
}

.client .buton-rezultate {
  background: #164A41;
  padding: 15px 27px;
  margin: 0 auto;
  width: 140px;
  height: 30px;
  border-radius: 5em;
  text-align: center;
  font-size: 1.15em;
  margin-bottom: 100px;
}

.client .buton-rezultate a {
  color: white;
}

footer {
  background: #EEF0EF;
  padding-top: 50px;
  padding-bottom: 50px;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer ul a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 10px;
}

footer ul .footer-logo {
  color: #f1b24a;
  font-weight: bold;
  font-size: 1.24em;
}

footer ul p, footer ul a {
  color: #6B9584;
  font-size: .8em;
}

footer ul .action {
  color: #164A41;
  font-weight: bold;
}

footer .copyrights {
  font-size: .6em;
  opacity: 44%;
  padding-left: 120px;
}
/*# sourceMappingURL=main.css.map */